node_modules/
.pnp
.pnp.js

coverage/

dist/
build/
out/

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

.vite/

.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
